{% extends "layout.html" %}
{% block title %}Chat{% endblock title%}
{% block content %}
            <div id="main-section">
                <nav id="sidebar">
                    <h4>Rooms</h4>
                    {% for room in rooms %}
                        <p id="{{ room|title }}" class="select-room cursor-pointer">{{ room|title }}</p>
                    {% endfor %}
                </nav>
                <div id="rightside-pannel">
                    <div id="display-message-section">
                    </div>
                   <div id="input-area" class="input-group mb-3">
                        <input type="text" id="user_message" class="form-control" placeholder="Type here..." aria-label="Type a message" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                            <button id="send_message" class="btn btn-warning" type="button">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
         <span id="get-username">{{ username }}</span>
  {% endblock %}
