{% extends "layout.html" %}
{% block title %}Home{% endblock title%}
{% block content %}
            <div id="main-section">
                <nav id="sidebar">
                    <h4>Rooms</h4>
                    {% for room in rooms %}
                        <p id="{{ room|title }}"  class="select-room cursor-pointer"><a style='color: inherit; text-decoration: none !important' href="{{ url_for('chat') }}">{{ room|title }}</a></p>
                    {% endfor %}
                </nav>

                <div id="home-main-section">
                <h4>Welcome, {{ username }}! </h4>
                <div class="createChannelForm" id="rightside-pannel">
                  <form method="POST">
                      {{ form.hidden_tag() }}
                      {{ form.room.label }}: {{ form.room(class="form-control form-control-sm") }}
                        {% for error in form.room.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      {{ form.submit(class="btn btn-sm btn-outline-secondary createChannelBtn") }}
                  </form>
                </div>
              </div>
            </div>
        <span id="get-username">{{ username }}</span>
  {% endblock %}
