{% from 'field-errors.html' import displayField %}
{% extends "layout.html" %}
{% block title %}Login {% endblock %}
{% block content %}
    <h5>Login</h5>
    <form action="{{ url_for('login') }}", method="POST">
        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-sm btn-outline-primary">
        </div>
        {{ form.csrf_token }}
    </form>
    <hr>
    <p>Have not registered? <a href={{url_for('index')}}>Register here</a>.</p>
{% endblock %}
