#main-section {
    width: 100vw;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#righthand-side {
    padding: 3em;
}

.authWrapper{
  padding: 3em;
}

.alertWrapper{
  padding-top: 1em;
  padding-left: 1em;
  margin-top: 4em;
  margin-bottom: -2em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #5b9cfc;
}

#righthand-side p {
    font-size: 0.8em;
    color: grey;
}

@media (max-width: 588px) {
    picture {
        display: none;
    }
    #righthand-side {
        padding-left: 1.5em;
    }
}

@media (min-width: 1000px) {
    #righthand-side {
        max-width: 50%;
    }
}

.formError {
    list-style-type:none;
    padding:0px;
    color: red;
}

input{
  width:300px;
}

input[type='text']:focus, input[type='password']:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}​
